@*
    Tab to display integrations.    
*@

<!-- Displays all our known accounts -->
<div class="m-4">
    <h1><span class="circle circle_blue"></span>Integrations</h1>
    <section class="section-fw">
        <div class="table-responsive px-2">
            <table class="table table-striped table-hover table-bordered">
                <thead class="thead-darkblue">
                    <tr>
                        <th scope="col">Account Name</th>
                        <th scope="col">Publisher</th>
                        <th scope="col">Account Type</th>
                    </tr>
                </thead>
                <tbody id="tableLinkedAccountsBody">
                   <!-- Rows are added dynamically -->
                </tbody>
            </table>
        </div>
    </section>
</div>