@*
    Tab for our account settings.
*@

<div class="settings settings-account">
    <div class="container-fluid row content">
        <div class="col-account account-profile">
            <h1><span class="circle circle_blue"></span>Profile</h1>
            <div>
                <form class="p-3">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputFirstName">First Name</label>
                            <input type="text" class="form-control" id="inputFirstName" value="Rick">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputLastName">Last Name</label>
                            <input type="text" class="form-control" id="inputLastName" value="van Kollenburg">
                        </div>
                    </div>
                    <div class="form-row mt-4">
                        <div class="form-group col-md-6">
                            <label for="inputUsername">Username</label>
                            <input type="text" class="form-control" id="inputUsername" value="info@webuy.media">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputdEmail">Email</label>
                            <input type="email" class="form-control" id="inputEmail" value="info@webuy.media">
                        </div>
                    </div>
                    <div class="form-row mt-4">
                        <div class="form-group col-md-6">
                            <label for="inputPassword">Password</label>
                            <input type="password" class="form-control" id="inputPassword" value="webuymedia">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputNewPassword">New Password</label>
                            <input type="password" class="form-control" id="inputNewPassword4" value="">
                        </div>
                    </div>
                    <button class="btn btn-primary mt-4" type="submit" disabled>Apply changes</button>
                </form>
            </div>
        </div>
        <!--
        <div class="col-account account-users ml-4">
            <h1><span class="circle circle_blue"></span>Users</h1>
            <div class="section-users px-2">
                <div class="row users-heading py-3 px-4">
                    <div class="form-group mt-3">
                        <select class="form-control" id="accountUsers">
                            <option>All users</option>
                            <option>Admins</option>
                            <option>Marketers</option>
                            <option>Active users</option>
                            <option>Inactive users</option>
                        </select>
                    </div>
                    <div class="ml-4">
                        <a href="#"><i class="fas fa-plus-circle"></i> Add user</a>
                    </div>
                </div>
                <div class="table-responsive px-2">
                    <table class="table table-striped table-hover">
                        <thead class="thead-darkblue">
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Role</th>
                                <th scope="col">Last seen</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Rick</td>
                                <td>info@webuy.media</td>
                                <td>Admin</td>
                                <td>07-26-2019 | 11:06</td>
                                <td><a href="#" data-toggle="tooltip" title="Edit"><i class="fas fa-edit"></i></a></td>
                            </tr>
                            <tr>
                                <td>Donna</td>
                                <td>donna@webuy.media</td>
                                <td>Marketer</td>
                                <td>07-24-2019 | 15:56</td>
                                <td><a href="#" data-toggle="tooltip" title="Edit"><i class="fas fa-edit"></i></a> <a href="#" data-toggle="tooltip" title="Delete"><i class="fas fa-trash text-danger"></i></a></td>
                            </tr>
                            <tr>
                                <td>Imre</td>
                                <td>imre@webuy.media</td>
                                <td>Marketer</td>
                                <td>07-23-2019 | 17:04</td>
                                <td><a href="#" data-toggle="tooltip" title="Edit"><i class="fas fa-edit"></i></a> <a href="#" data-toggle="tooltip" title="Delete"><i class="fas fa-trash text-danger"></i></a></td>
                            </tr>
                            <tr>
                                <td>Daniel</td>
                                <td>daniel@webuy.media</td>
                                <td>Marketer</td>
                                <td>07-23-2019 | 16:54</td>
                                <td><a href="#" data-toggle="tooltip" title="Edit"><i class="fas fa-edit"></i></a> <a href="#" data-toggle="tooltip" title="Delete"><i class="fas fa-trash text-danger"></i></a></td>
                            </tr>
                            <tr>
                                <td>Linda</td>
                                <td>linda@webuy.media</td>
                                <td>Marketer</td>
                                <td>07-23-2019 | 16:47</td>
                                <td><a href="#" data-toggle="tooltip" title="Edit"><i class="fas fa-edit"></i></a> <a href="#" data-toggle="tooltip" title="Delete"><i class="fas fa-trash text-danger"></i></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
            -->
    </div>
    <div class="footer">
        <div>
            <button id="saveAccount" class="btn btn-bluebg text-white" id="myBtn">Save</button>
        </div>
    </div>
</div>
