@*
    Tab to display integrations.    
*@

<!-- Displays all our known accounts -->
<div class="m-4">
    <h1><span class="circle circle_blue"></span>Integrations</h1>
    <section class="section-fw">
        <div class="table-responsive px-2">
            <table class="table table-striped table-hover table-bordered">
                <thead class="thead-darkblue">
                    <tr>
                        <th scope="col">Account Connections</th>
                        <th scope="col">Source</th>
                        <th scope="col">Email</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Webuy Media - Japan - SC</td>
                        <td><img src="~/images/taboola_logo_xs.png" class="img-md" alt="taboola_logo"> Taboola</td>
                        <td>leon@webuy.media</td>
                        <td><a href="#" data-toggle="tooltip" title="Edit"><i class="fas fa-edit"></i></a></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><img src="~/images/taboola_logo_xs.png" class="img-md" alt="taboola_logo"> Taboola</td>
                        <td>leon@webuy.media</td>
                        <td><a href="#" data-toggle="tooltip" title="Edit"><i class="fas fa-edit"></i></a></td>
                    </tr>
                    <tr>
                        <td>
                            Webuy Media - Facts Chasers - SC - SC <br>
                            Webuy Media - Daily Chasers - SC <br>
                            Webuy Media - Family Chasers - SC <br>
                            WeBuy Media - Tip Chasers - SC <br>
                            Webuy Media - WBM - SC <br>
                            Webuy Media - For Happy Home - SC
                        </td>
                        <td><img src="~/images/taboola_logo_xs.png" class="img-md" alt="taboola_logo"> Taboola</td>
                        <td>leon@webuy.media</td>
                        <td><a href="#" data-toggle="tooltip" title="Edit"><i class="fas fa-edit"></i></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</div>
