@*
    Campaign group creation wizard section for account settings.
*@

@model CampaignGroupFormAllViewModel
<!-- Fieldset for our schedule properties -->
<fieldset id="fieldsetSchedule">

    <!-- TODO Remove this debug -->
    <label>To be implemented</label>

    <!-- Submit and back button -->
    <div class="form-row">
        <button class="buttonBack btn text-white btn-main btn-blue mt-5" data-thisindex="5">Back</button>
        <button id="buttonNextAdGroups" class="btn text-white btn-main btn-blue mt-5">Next</button>
    </div>

</fieldset>