@*
    Campaign group creation wizard section for our overview.
*@

@model CampaignGroupFormAllViewModel

<!-- Submit and back button -->
<div class="form-row">
    <button class="buttonBack btn text-white btn-main btn-blue mt-5" data-thisindex="6">Back</button>
    <button id="buttonSubmitWizard" class="btn text-white btn-main btn-blue mt-5">Submit</button>
</div>