<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <configSections>
        <section name="GoogleAdsApi" type="System.Configuration.DictionarySectionHandler"/>
        <section name="TaboolaApi" type="System.Configuration.DictionarySectionHandler"/>
    </configSections>

    <GoogleAdsApi>
        <!-- Settings specific to Google Ads API.-->
        <add key="DeveloperToken" value=""/>
        <add key = "LoginCustomerId" value = "" />
        <add key = "AccountId" value = "" />

        <!-- OAuth2 configuration -->
        <add key = "OAuth2Mode" value = "" />
        <add key = "OAuth2ClientId" value = "" />
        <add key = "OAuth2ClientSecret" value = "" />
        <add key = "OAuth2RefreshToken" value = "" />

    </GoogleAdsApi>

    <TaboolaApi>
        <add key = "BaseUrl" value = "" />
        <add key = "AccountId" value = "" />
        <OAuth2>
            <add key = "OAuth2ClientId" value = "" />
            <add key = "OAuth2ClientSecret" value = "" />
            <add key = "OAuth2RefreshToken" value = "" />
            <add key = "OAuth2Username" value = "" />
            <add key = "OAuth2Password" value = "" />
        </OAuth2>
    </TaboolaApi>

</configuration>