
@{
    ViewData["Title"] = "New Ad Group";
}

<h1>New Ad Group</h1>

<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label for="adgName">Ad Group</label>
            <input type="text" class="form-control" id="adgName">
        </div>
        <div class="form-group">
            <label for="adgUrl">Destination URL</label>
            <input type="text" class="form-control" id="adgUrl">
        </div>
        <div class="form-group">
            <label for="adgUtm">Tracking Code</label>
            <input type="text" class="form-control" id="adgUtm">
        </div>
        <div class="form-group">
            <label for="adgTitle">Titles</label>
            <input type="text" class="form-control" id="adgTitle">
            <button class="btn btn-link">Add Title +</button>
        </div>
    </div>

    <div class="col-md-8">
        <div class="form-group">
            <label>Preview</label>
        </div>
        <button type="submit" class="btn btn-secondary">Cancel</button>
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</div>

