@*
    Home page. This is where the dashboard will be shown.
*@

@{
    ViewData["Title"] = "Dashboard";
}

<div class="text-center">
    <h1 class="display-4">Dashboard</h1>
    <!--TODO this is temporary-->
    <div class="row">
        <div class="col-lg-2 col-md-6" style="font-size: 1.5em; padding:3px; margin:2em; background-color: #4EA1EA; color: white;">
            <p>
                Spent <b>today</b>
                <br />$0
            </p>
        </div>
        <div class="col-lg-2 col-md-6" style="font-size: 1.5em; padding:3px; margin:2em; background-color: #EF5499; color: white;">
            <p>
                Spent <b>yesterday</b>
                <br />$0
            </p>
        </div>
        <div class="col-lg-2 col-md-6" style="font-size: 1.5em; padding:3px; margin:2em; background-color: #A34AA0; color: white;">
            <p>
                Spent <b>this month</b>
                <br />$0
            </p>
        </div>
        <div class="col-lg-2 col-md-6" style="font-size: 1.5em; padding:3px; margin:2em; background-color: #00C3A4; color: white;">
            <p>
                Spent <b>last month</b>
                <br />$0
            </p>
        </div>
    </div>
    <div class="row text-center">
        <h1>Spent by account</h1>
        <div class="col-sm-12" style="height: 200px;">
            <img style="width:100%; height:100%" src="https://image.flaticon.com/icons/svg/138/138339.svg" />
        </div>
    </div>
    <hr />
    <div class="row text-center">
        <h1>Spent by network</h1>
        <div class="col-sm-12" style="height:200px;">
            <img style="width:100%; height:100%" src="https://image.flaticon.com/icons/svg/138/138339.svg" />
        </div>
    </div>
</div>
