@*
    Contains our ad preview, our submit and our cancel button.
*@

<div class="adscontent">
    <p>Preview</p>
    <div class="preview-section">

        <!-- Our randomly selected image -->
        <div class="image-container">
            <img id="generatedAdImage" />
        </div>

        <!-- Title + adsense text -->
        <div class="image-description">
            <div class="form-group">
                <label id="generatedAdTitle" class="lblAdGroup ad-text m-0"></label>
                <label class="lblAdGroup ad-tracking text-muted">Taboola Adsense</label>
            </div>
        </div>

        <!-- Submit button for form -->
        <div class="submit">
            <button id="buttonSubmitWizardAdGroup" class="btn text-white btn-bluebg mt-5">Submit</button>
        </div>

        <!-- Popup message thingy -->
        <div class="alert alert-success alert-dismissible fade show success-message">
            <strong>Success!</strong> Advertisement has successfully been submitted.
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>

    </div>
</div>

@*<div class="adscontent">
    <p>Preview</p>
    <div class="preview-section">

        <div class="image-container">
            <img src="../../img/money-ad.jpg" alt="wd-40">
        </div>

        <div class="image-description">
            <div class="form-group">
                <label id="lblAdGroup" class="ad-text m-0">
                    Earn up to $1458.84 every day with this simple trick, no investments at all!
                </label>
                <label id="lblAdGroup" class="ad-tracking text-muted">
                    Taboola Adsense
                </label>
            </div>
        </div>
        <div class="submit">
            <button class="btn text-white btn-bluebg mt-5" id='btnSubmit'>Submit</button>
        </div>
        <div class="alert alert-success alert-dismissible fade show success-message">
            <strong>Success!</strong> Advertisement has successfully been submitted.
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
    </div>
</div>*@