@*
    Contains our ad preview, our submit and our cancel button.
*@

<div class="adscontent">
    <p>Preview</p>
    <div class="preview-section">

        <!-- Our randomly selected image -->
        <div class="image-container">
            <img id="generatedAdImage" />
        </div>

        <!-- Title + adsense text -->
        <div class="image-description">
            <div class="form-group">
                <label id="generatedAdTitle" class="ad-text m-0"></label>
                <label class="ad-tracking text-muted">Taboola Adsense</label>
            </div>
        </div>

        <!-- Submit button for form -->
        <div class="submit">
            <button id="buttonSubmitWizardAdGroup" class="btn text-white btn-bluebg mt-5">Submit</button>
        </div>






        <!-- Popup message thingy -->
        <div class="alert alert-success alert-dismissible fade show success-message">
            <strong>Success!</strong> Advertisement has successfully been submitted.
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>





    </div>
</div>






@*<div class="adscontent">

    <!-- Displays a prerendered version of an ad based on a random image -->
    <p>Preview</p>
    <div class="preview-section">
        <label id="lblAdGroup"><i class="text-muted">Ad group</i></label>
        <label id="lblDestURL"><i class="text-muted">Destination URL</i></label>
    </div>

    <!-- Placeholders for our randomly generated ad -->
    <div>
        <img id="generatedAdImage" />
        <label id="generatedAdTitle"></label>
    </div>

    <!-- Buttons -->
    <div class="form-row">
        <button id="buttonBack" class="btn text-white btn-main btn-blue mt-5">Back</button>
        <button id="buttonSubmitWizardAdGroup" class="btn text-white btn-main btn-blue mt-5">Save</button>
    </div>

</div>
    *@