<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://maximiz-poller-functions.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/d1978f92-9405-461b-ae14-457a902d76ea/resourceGroups/maximiz-poller/providers/Microsoft.Web/sites/maximiz-poller-functions</ResourceId>
    <UserName>$maximiz-poller-functions</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://maximiz-poller-functions.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>