:root {
    --primary-color: #2C96FF;
    --secondary-color: #1B4369;
    --black: #212529;
    --content-background-color: #EAF1FC;
}

html {
    box-sizing: border-box;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.07);
    scroll-behavior: smooth;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: 'Lato', 'Helvetica Neue', 'Arial';
    font-weight: 600;
    min-height: 100vh;
    background-color: var(--content-background-color);
}

.sidebar {
    background: #fff;
    padding: 4rem 2rem 1rem 2rem;
    width: 260px;
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 98;
    overflow: hidden;
}

.logo > a, .logo p {
    color: var(--black);
    font-size: 30px;
    font-weight: 900;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
    margin-top: -5px;
}

    .logo > a:hover {
        text-decoration: none;
    }

.nav > li {
    position: relative;
    display: block;
}

.sidebar-wrapper ul li > a {
    color: #1b1b1b;
    font-size: 18px;
    font-weight: 600;
}

    .sidebar-wrapper ul li > a:hover {
        text-decoration: none;
        color: var(--primary-color);
    }

.sidebar-wrapper ul li .active {
    color: var(--primary-color);
}

.sidebar-wrapper ul li > .active::before {
    content: "";
    padding: 16px 2.7px;
    background: var(--primary-color);
    position: absolute;
    top: -2px;
    left: -32px;
}

.sidebar-wrapper ul li .active-color {
    color: var(--primary-color);
}

.sidebar-wrapper ul li > a > p {
    margin-bottom: 2rem;
}

.sidebar-wrapper ul li a p > i {
    width: 1.5rem;
}

#collapseCampaigns > .dropdown-divider {
    margin: 0;
}

#collapseCampaigns li > a {
    margin: 10px 0px 0px;
    opacity: .8;
    padding-left: 25px;
    padding-right: 25px;
    white-space: nowrap;
    font-size: 14px;
}

#collapseCampaigns > .nav {
    padding-bottom: 30px;
    padding-top: 15px;
}

.sidebar-wrapper .fa-chevron-down {
    margin-top: 4px;
    position: absolute;
    right: 1px;
}

.dropright .dropdown-toggle::after {
    margin-left: 1rem;
}

.navbar-default {
    background: #fff;
    z-index: 99;
    position: fixed;
    min-width: 100vw;
    padding-bottom: 1.7rem;
}

.navbar-right {
    float: right !important;
}

.navbar .navbar-right > li {
    line-height: 1.42857;
    margin-top: -5px;
    padding: 0px 20px;
    display: flex;
    align-items: center;
}

.navbar .navbar-right li a {
    color: var(--black);
}

.navbar .navbar-right li > .dropdown-toggle::after {
    display: none;
}


.btn-blue {
    background-color: var(--primary-color);
}

.mt-10 {
    margin-top: 10rem;
}

.btn-main {
    color: #fff;
    border-radius: 50px;
    padding: 9px;
    width: 12rem;
    font-size: 14px;
    text-transform: uppercase;
}

    .btn-main:focus, .btn-main:hover {
        background: var(--secondary-color);
        color: #fff;
    }

    .btn-main > i {
        position: relative;
        top: .5px;
        left: 6px;
    }

.navbar-default .button > .dropdown-toggle::after {
    display: none;
}

.dropdown-menu {
    background-color: #FFFFFF;
    left: 15px;
    border: 0 none;
    border-radius: 6px;
    margin-top: -15px;
    z-index: -1;
    width: 11.8rem;
    padding: 0px;
    padding-top: 20px;
    -webkit-box-shadow: 0 2px rgba(17, 16, 15, 0.1), 0 2px 10px rgba(17, 16, 15, 0.1);
    box-shadow: 0 2px rgba(17, 16, 15, 0.1), 0 2px 10px rgba(17, 16, 15, 0.1);
}

.dropdown-settings {
    top: 80px;
    padding-top: 0;
}

    .dropdown-settings li a i {
        width: 1.5rem;
        text-align: center;
    }

.dropdown-menu > li > a {
    color: #1b1b1b;
    font-size: 16px;
    font-weight: 600;
    padding: 15px 30px;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    -ms-transition: none;
    transition: none;
    display: block;
    clear: both;
    line-height: 1.42857143;
    white-space: nowrap;
}

    .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
        background-color: var(--primary-color);
        color: rgba(255, 255, 255, 0.85);
        opacity: 1;
        text-decoration: none;
    }

.navbar-right .dropdown p {
    margin: 0;
}

.label-primary {
    background-color: var(--primary-color);
}

.material-switch > input[type="checkbox"] {
    display: none;
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative;
    width: 40px;
}

    .material-switch > label::before {
        background: rgb(0, 0, 0);
        box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
        border-radius: 8px;
        content: '';
        height: 16px;
        margin-top: -6px;
        position: absolute;
        opacity: 0.3;
        transition: all 0.4s ease-in-out;
        width: 40px;
    }

    .material-switch > label::after {
        background: rgb(255, 255, 255);
        border-radius: 16px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
        content: '';
        height: 24px;
        left: -4px;
        margin-top: -6px;
        position: absolute;
        top: -4px;
        transition: all 0.3s ease-in-out;
        width: 24px;
    }

.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}

.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}

/* Main */

main {
    padding: 6rem 0 1rem 16.2rem;
}

    main h1 {
        font-size: 24px;
        font-weight: 900;
        letter-spacing: .1px;
    }

.dashboard-content {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(auto, 305px)); */
    grid-gap: 3rem;
    padding: 1rem 3rem 1rem 2rem;
}

.circle {
    content: "\A";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin: 3px 10px;
}

.circle_blue {
    background: var(--primary-color);
}

.circle_orange {
    background: #DE9E0E;
}

.circle_yellow {
    background: #DAE224;
}

.circle_red {
    background: #EF446C;
}

.circle_green {
    background: #00CAAA;
}

.circle_purple {
    background: #A950A6;
}

.overview {
    display: grid;
    grid-gap: 1rem;
    margin-left: 0;
}

    .overview > div {
        min-width: 18vw;
        min-height: 6rem;
        background-color: #fff;
        border-radius: 7px;
    }

.col-spend-today {
    background: url('../img/circleBG-blue.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: .5rem 1.5rem;
}

.col-spend-yesterday {
    background: url('../img/circleBG-pink.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: .5rem 1.5rem;
}

.col-spend-this_month {
    background: url('../img/circleBG-purple.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: .5rem 1.5rem;
}

.col-spend-last_month {
    background: url('../img/circleBG-green.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: .5rem 1.5rem;
}

.pre-text {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.65)
}

.spend_by_account {
    margin-left: 0;
}

    .spend_by_account > div {
        min-width: 57vw;
        min-height: 27rem;
        background-color: #fff;
        border-radius: 5px;
        padding: 0 5rem;
        display: flex;
        align-items: center;
    }

.col-account .pie {
    min-width: 13rem;
    min-height: 13rem;
    border-radius: 50%;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.col-account .pie-listitems {
    display: flex;
    align-self: flex-start;
    margin-top: 6rem;
    margin-left: 5rem;
}

.img-sm {
    width: 4%;
    margin-bottom: 2px;
}

.img-md {
    width: 6%;
    margin-bottom: 2px;
}

.img-lg {
    width: 8%;
    margin-bottom: 2px;
}

.col-account .light-text {
    font-size: 14px;
    color: #9A9A9A;
    font-weight: 400;
}

.section-spend_by_network {
    display: grid;
    grid-column: span 2;
    margin-top: -1rem;
}

.spend_by_network {
    margin-left: 0;
}

    .spend_by_network > div {
        min-width: 78vw;
        min-height: 23rem;
        background-color: #fff;
        border-radius: 5px;
        padding: 0 5rem;
        display: flex;
        align-items: center;
    }

.col-network .pie {
    width: 10rem;
    min-width: 13rem;
    min-height: 13rem;
    border-radius: 50%;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    background: conic-gradient(var(--primary-color) 53%, #DE9E0E 0 70%, #DAE224 0 85%, #EF446C 0 92%, #00CAAA 0 97%, #A950A6 0 );
}

.col-network .pie-listitems {
    display: flex;
    align-self: flex-start;
    margin-top: 4rem;
    margin-left: 5rem;
}

.col-network .pie ul li {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
}

.col-network .pie-listitems ul {
    list-style-type: none;
}

.pie-listitems p {
    margin-bottom: 10px;
    font-size: 20px;
}



/* ____ Campaign ____ */

.new-campaign {
    display: grid;
    grid-gap: 2rem;
    height: 80vh;
    align-content: center;
    justify-content: center;
}

    .new-campaign a {
        color: var(--black);
    }

        .new-campaign a:hover {
            text-decoration: none;
        }

    .new-campaign h1 {
        font-size: 33px;
        text-align: center
    }

.col-campaign {
    /* background: #fff; */
    background: #fff url('../img/arrow-right-rounded.png');
    background-repeat: no-repeat;
    background-position: 90% center;
    min-width: 30rem;
    padding: 1rem 1.5rem;
}

    .col-campaign p {
        color: rgb(124, 124, 124);
        font-weight: 500;
    }

    .col-campaign:hover {
        box-shadow: 0px 0px 30px -3px rgba(0, 0, 0, 0.08);
    }

/* --- */

.ncg {
    padding: 1rem 2rem;
}

    .ncg .header {
        max-width: 75vw;
        margin: auto;
        display: flex;
        align-items: center;
    }

    .ncg > .form {
        background-color: #fff;
        box-shadow: 0px 0px 21px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        padding: 1rem 6rem;
        max-width: 75vw;
        min-height: 35vw;
        margin: auto;
        overflow: hidden;
    }

    .ncg form fieldset {
        position: relative;
        left: 0;
        top: 0;
        transition: all .3s ease-in-out;
    }

    .ncg form .section {
        display: inline-block;
        min-width: 10vw;
        min-height: auto;
        padding-right: 2rem;
    }

    .ncg form legend {
        text-align: center;
        font-size: 30px;
        color: var(--black);
    }

    .ncg form h2 {
        color: var(--black);
        font-size: 24px;
        font-weight: 600;
        text-align: end;
    }

    .ncg form .form-subgroup {
        display: inline-grid;
        min-width: 50vw;
    }

.form-control {
    max-width: auto;
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid #AAAAAA;
    box-shadow: 0px 2px 2px -2px rgba(0,0,0,0.3);
}

.error-input {
    border-bottom: 1px solid rgb(255, 47, 47);
}

.form-control:active, .form-control:focus {
    border: none;
    box-shadow: none;
    border-bottom: 1px solid var(--primary-color);
    transition: all .3s linear;
}

.ncg .form-control:not(.form-extra), .sidemodal .form-control:not(.form-extra) {
    width: 22vw;
}

.ncg .form-steps {
    min-width: 64%;
    justify-content: center;
}

._tooltip {
    color: var(--primary-color);
}

.btn-bluebg {
    width: 10rem;
    justify-self: flex-end;
    border-radius: 25px;
    background-color: var(--primary-color);
}

    .btn-bluebg:hover {
        background-color: var(--secondary-color);
    }

.btn-outline {
    width: 10rem;
    justify-self: flex-end;
    border: 2px solid var(--primary-color);
    border-radius: 25px;
    background-color: transparent;
    color: var(--primary-color);
}

    .btn-outline:hover {
        background-color: var(--secondary-color);
        border-color: var(--secondary-color);
        color: #fff;
    }

.ncg_basic-account #formMarketing {
    display: none;
    left: 20rem;
    opacity: 0;
}

.ncg_basic-account #formOverview {
    display: none;
    left: 20rem;
    opacity: 0;
}

.ncg .col > div {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fit, minmax(480px, 10px));
    align-items: center;
    grid-gap: 2rem;
    margin-left: -23.7rem;
}




/* New campaign group menu bar */
/* Center align the text for our icons */
.ncg .selector p {
    text-align: center;
}

/* By default our icon text is black */
.ncg .selector p {
    color: var(--black);
}

/* When the selector is active (we are in its tab), the text will be highlighted */
.ncg .selectorActive p {
    color: var(--primary-color);
}

/* Styling for the selector icon */
.ncg .icon {
    width: 4.5rem;
    min-width: 4.5rem;
    min-height: 4.5rem;
    border-radius: 50%;
    background: #D3D3D3;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Highlighted background for unlocked selector icon */
.ncg .iconUnlocked {
    background: var(--primary-color);
}




.ncg .step-account p {
    text-align: center;
    color: var(--primary-color);
}

.ncg .basic-steps {
    min-width: 64%;
    justify-content: center;
}

.ncg .step-spacing {
    width: 5rem;
    align-self: center;
    margin-bottom: 2.5rem;
}

.hr {
    background-color: #D3D3D3;
    height: 3px;
}

.ncg .section-overview {
    display: flex;
    min-width: 11rem;
    min-height: auto;
    padding-right: 2rem;
}

.ncg .col img {
    max-width: 1.5rem;
    margin-top: -4px;
}

.ncg .overview h3 {
    justify-self: flex-end;
    font-size: 13pt;
    color: #898989;
}

.ncg .overview p {
    justify-self: flex-start;
    font-size: 13pt;
}


/* overview */

.campaign-overview .header {
    padding: 1.5rem 3rem 0 3rem;
    background-color: #DCE7FA;
}

.campaign-overview .search {
    border-radius: 25px;
    margin-right: 2rem;
    padding-left: 1.5rem;
    height: calc(1.5em + 0.75rem + 6px);
}

.campaign-overview ul li .nav-link {
    color: #8B8B8B;
    cursor: pointer;
}

.nav-tabs .nav-link {
    border: 2px solid transparent;
}

.campaign-overview .header .nav-tabs .nav-item .active, .nav-tabs .nav-item .active-tab {
    color: var(--primary-color);
    border-color: rgba(255,255,255,0) rgba(255,255,255,0) var(--primary-color);
    border-width: 2px;
    background-color: transparent;
}

.nav-tabs .nav-link:hover {
    color: var(--secondary-color);
    border-color: rgba(255,255,255,0) rgba(255,255,255,0) var(--secondary-color);
    border-width: 2px;
}

.campaign-overview .content {
    padding: 1.5rem 0;
    width: 98%;
    margin: auto;
}

    .campaign-overview .content .dropdown {
        z-index: 1;
    }

.campaign-overview .dropdown .dropdown-menu {
    width: auto;
    padding-bottom: .5rem;
}

.campaign-overview .content div > button {
    color: var(--secondary-color);
    border-color: rgba(255,255,255,0) rgba(255,255,255,0) var(--secondary-color);
    border-width: 2px;
}

.campaign-overview .dropdown-toggle::after {
    vertical-align: 0.155em;
    margin-left: 2rem;
}

.campaign-overview table img {
    width: 18px;
    padding-bottom: 2px;
}

.campaign-overview table tr .data-campaign {
    display: flex;
    align-items: center;
}

.campaign-overview table tr td {
    font-size: 10.5pt;
}

.campaign-overview .table-striped tbody tr:nth-of-type(even) {
    background-color: rgba(255,255,255, 0.35);
}

.campaign-overview .marketing .material-switch > p {
    display: inline;
    margin-right: 1rem;
}

/* settings-account  */

.settings .header {
    padding: .5rem 2rem 0 2rem;
    background-color: #DCE7FA;
}

.settings .nav-tabs li a {
    font-size: 20px;
    color: var(--black);
}

.settings .content {
    padding: 2.5rem 0 0 3rem;
}

.settings-account .col-account > div {
    background-color: #fff;
    min-width: 38vw;
    min-height: 50vh;
    max-width: 40vw;
    border-radius: 5px;
}

.settings-account .col-account .section-users {
    max-height: 50vh;
}

.settings-account .col-account .users-heading {
    display: flex;
    align-items: center;
}

.settings-account .col-account .table-responsive {
    max-height: 35vh;
}

.thead-darkblue {
    background: #2a4561;
    color: #fff;
}

.settings-account .account-connections {
    margin: 2rem;
}

.section-fw {
    background-color: #fff;
    max-width: 77.4vw;
    min-height: 50vh;
    padding: 1rem;
}

.settings-account .section-fw tr th {
    color: var(--secondary-color);
}

.settings-account .section-fw tr td {
    font-weight: 600;
}

.settings-account .footer {
    margin: 2rem;
}

    .settings-account .footer div, .settings-preferences .footer div {
        background-color: transparent;
        max-width: 77.4vw;
        padding: 1rem;
        display: flex;
        justify-content: flex-end;
    }

/* settings-preferences  */

.settings-preferences .col-preferences > div {
    background-color: #fff;
    min-width: 38vw;
    min-height: 50vh;
    max-width: 40vw;
    border-radius: 5px;
}

.settings-preferences form {
    max-width: 20rem;
}

.settings-preferences .col-preferences div {
    margin-bottom: 1.8rem;
}

    .settings-preferences .col-preferences div label {
        color: var(--secondary-color);
    }

    .settings-preferences .col-preferences div p {
        font-weight: 500;
    }

.settings-billing .col-half > div {
    background-color: #fff;
    min-width: 38vw;
    min-height: 45vh;
    max-width: 40vw;
    border-radius: 5px;
}

.settings-billing .col-half div {
    margin-bottom: 1.8rem;
    font-size: 14pt;
}

.mh-30 {
    min-height: 30vh;
}

.settings-billing .col-half div label {
    color: var(--secondary-color);
}

.settings-billing .col-half div img {
    max-width: 15rem;
}

.settings-billing .billing-history {
    margin: 2rem;
}

.sidemodal .tab-content .tab-pane {
    max-width: 70vw;
    padding: 1rem 3rem;
}

.sidemodal .tab-content select:not(.form-extra) {
    max-width: calc(60vw / 2 - 50px);
}

.sidemodal .tab-content .form-subgroup {
    margin-top: 2rem;
}

.sidemodal .tab-content .total-ad-groups {
    max-height: 40.3vh;
}

.sidemodal .tab-content input[type="search"] {
    min-width: 15rem;
}

.sidemodal .tab-content .tab-pane > form {
    min-height: 35rem;
}


/* New Advertisement  */

.adsfield {
    background: #FAFAFA;
    padding: 6.5rem 2rem 1rem 2rem;
    min-width: 36vw;
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 98;
    overflow: hidden auto;
    height: 100%;
}

    .adsfield .image-section {
        padding: 1rem;
        min-height: 30vh;
        border: 2px dashed #b7b7b7;
        border-radius: 2px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(auto, 125px));
        grid-gap: 1rem;
    }

        .adsfield .image-section:hover {
            background: #eaf1fc;
            transition: all .3s ease-in-out;
        }

        .adsfield .image-section div {
            min-width: 8.7rem;
            min-height: 8.7rem;
            background-color: #fff;
            box-shadow: 0px 0px 13px -5px rgba(0, 0, 0, 0.06);
            border: 2px solid rgb(219, 219, 219);
            border-radius: 6px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            padding: .8rem .6rem;
            cursor: pointer;
        }

            .adsfield .image-section div img {
                max-width: 100%;
            }

.navbar-shadow {
    box-shadow: 0px 0px 21px -1px rgba(0,0,0,0.13);
}

.adscontent {
    padding: 2rem 2rem 0 25rem;
}

    .adscontent .preview-section {
        max-width: 100%;
        display: grid;
        align-content: center;
        justify-items: center;
        margin-top: 5rem;
    }

        .adscontent .preview-section .image-container {
            display: flex;
            justify-content: center;
            min-height: auto;
            max-width: 40%;
            background: #fff;
        }

.imageSelected {
    border: 2px solid green;
}

.adscontent .preview-section img {
    max-width: 100%;
    height: 23rem;
}

.adscontent .image-description > div {
    max-width: 24.4rem;
}

.adscontent .preview-section .ad-text {
    font-size: 15pt;
    font-family: serif;
    font-weight: 400;
}

.adscontent .preview-section .ad-tracking {
    font-size: 12pt;
    font-family: serif;
    font-weight: 200;
}

.adscontent .submit {
    justify-self: flex-end;
    margin-right: 3rem;
}

.adscontent #lblDestURL {
    display: flex;
    justify-self: flex-start;
    position: relative;
    bottom: 24.1rem;
    left: 15.2rem;
    font-size: 11pt;
}

.success-message {
    position: fixed;
    z-index: 999;
    bottom: 0;
    width: 55%;
    margin-top: 1rem;
    visibility: hidden;
}

.adsmain input[type="search"] {
    padding-left: 2rem;
    background-color: #efefef;
    border-color: #e0e0e0;
}

.adsmain .form-control-feedback {
    position: relative;
    right: 12.7rem;
    opacity: .4;
}

.adsmain .sidebar {
    background-color: #F7F7F7;
    box-shadow: 7px 0px 10px -5px rgba(0,0,0,0.15);
}

    .adsmain .sidebar li {
        margin: 1rem 0;
    }

    .adsmain .sidebar span {
        cursor: pointer;
        font-size: 13pt;
    }

        .adsmain .sidebar span i {
            margin-right: .5rem;
        }

.adsmain .image-upload {
    min-height: 12rem;
    border: 2px dashed #ccc;
    background: #e6e6e6;
    display: grid;
    align-content: center;
    justify-items: center;
}

.adsmain .image-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(auto, 125px));
    grid-gap: 1rem;
}

    .adsmain .image-section div {
        min-width: 8.7rem;
        min-height: 8.7rem;
        background-color: #fff;
        box-shadow: 0px 0px 13px -5px rgba(0, 0, 0, 0.06);
        border-radius: 6px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding: .8rem 0;
        cursor: pointer;
    }

        .adsmain .image-section div:hover {
            box-shadow: 0px 0px 18px -3px rgba(0, 0, 0, 0.16);
            transition: all .1s linear;
        }

        .adsmain .image-section div img {
            width: 95px;
        }

        .adsmain .image-section div p {
            margin: 0;
            font-size: 8pt;
        }

.adsfield .form-titles {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 48px;
    grid-gap: 0.5rem;
    padding: 0 5px;
}

    .adsfield .form-titles .removeTitleEntry {
        padding: 0;
        height: 40px;
        align-self: center;
    }



[type="radio"]:checked:not(.switchOption),
[type="radio"]:not(:checked):not(.switchOption),
[type="checkbox"]:checked:not(.switchOption),
[type="checkbox"]:not(:checked):not(.switchOption) {
    position: absolute;
    left: -9999px;
}

    [type="radio"]:checked:not(.switchOption) + label,
    [type="radio"]:not(:checked):not(.switchOption) + label,
    [type="checkbox"]:checked:not(.switchOption) + label,
    [type="checkbox"]:not(:checked):not(.switchOption) + label {
        position: relative;
        padding-left: 24px;
        cursor: pointer;
        line-height: 17px;
        display: inline-block;
        color: var(--black);
    }

        [type="radio"]:checked:not(.switchOption) + label:before,
        [type="radio"]:not(:checked):not(.switchOption) + label:before,
        [type="checkbox"]:checked:not(.switchOption) + label:before,
        [type="checkbox"]:not(:checked):not(.switchOption) + label:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 18px;
            height: 18px;
            border: 1px solid rgb(95, 95, 95);
            border-radius: 100%;
            background: #fff;
        }

        [type="radio"]:checked:not(.switchOption) + label:after,
        [type="radio"]:not(:checked):not(.switchOption) + label:after,
        [type="checkbox"]:checked:not(.switchOption) + label:after,
        [type="checkbox"]:not(:checked):not(.switchOption) + label:after {
            content: '';
            width: 10px;
            height: 10px;
            background: var(--primary-color);
            position: absolute;
            top: 4px;
            left: 4px;
            border-radius: 100%;
            -webkit-transition: all 0.2s ease;
            transition: all 0.2s ease;
        }

        [type="checkbox"]:checked:not(.switchOption) + label:before,
        [type="checkbox"]:not(:checked):not(.switchOption) + label:before,
        [type="checkbox"]:checked:not(.switchOption) + label:after,
        [type="checkbox"]:not(:checked):not(.switchOption) + label:after {
            border-radius: 0%;
        }

        [type="radio"]:not(:checked):not(.switchOption) + label:after,
        [type="checkbox"]:not(:checked):not(.switchOption) + label:after {
            opacity: 0;
            -webkit-transform: scale(0);
            transform: scale(0);
        }

        [type="radio"]:checked:not(.switchOption) + label:after,
        [type="checkbox"]:checked:not(.switchOption) + label:after {
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1);
        }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.form-extra {
    width: auto;
    border: none;
    background: none;
    box-shadow: none;
    margin-left: -2px;
    margin-top: 5px;
}

    .form-extra:active, .form-extra:focus {
        border: none;
        box-shadow: none;
    }

.space-between {
    display: flex;
    justify-content: space-between;
}

#login {
    height: 100vh;
    overflow: hidden;
    background: url(../img/login-background.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}

    #login .login-form {
        width: 440px;
        margin: 50px auto;
    }

        #login .login-form form {
            height: 380px;
            margin-bottom: 15px;
            background: rgba(241, 248, 255, 0.79);
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
            padding: 30px;
        }

        #login .login-form h2 {
            margin: 0 0 3rem 0;
            font-family: 'Lato';
            font-weight: 600;
        }

    #login .form-control .btn {
        min-height: 38px;
        border-radius: 2px;
    }

    #login .btn {
        font-size: 15px;
        font-weight: bold;
        margin: 0 0 3rem;
    }

    #login a {
        color: #333;
    }

a:not([href]):not([tabindex]) {
    color: #fff;
}




/* Sorting icons styling */
.filter-highlight {
    display: inline-grid;
    position: relative;
    top: -6px;
    left: 2px;
}

/* Sorting icon styling */
.filter-highlight a {
    height: 9px;
    font-size: 11px;
    color: #fff;
}

/* Sorting icon hover */
.filter-highlight a:hover {
    color: var(--primary-color);
}

/* Sorting icon highlight */
.filter-highlight a.active {
    color: var(--primary-color);
}
