@*
    Partial view containing a list of images.
*@

@model ImageListViewModel

<div>
    @foreach (var uri in Model.ImageUris)
    {
        <div class="img-section section1 imageSelectable" data-image-uri="@uri.AbsoluteUri">
            <img src="@uri.AbsoluteUri" alt="@uri.AbsoluteUri"
                 style="width: 200px; height: 200px" />
            @*<p>@uri.OriginalString</p>*@
        </div>
    }
</div>