<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="../../css/style.css">
  <link rel="stylesheet" href="../../css/modal_center.css">
  <title>ISA - Settings | Account</title>
</head>
<body>
  <header class="adsfield">
    <form class="pt-2">
      <div class="form-group">
        <label for="inputAdGroup">Ad Group</label>
        <input type="text" class="form-control" id="inputAdGroup" placeholder="Ad Group">
      </div>
      <div class="form-group">
        <label for="inputDestinationURL">Destination URL</label>
        <input type="text" class="form-control" id="inputDestinationURL" placeholder="Destination URL">
      </div>
      <div class="form-group">
        <label for="inputTrackingCode">Tracking Code</label>
        <input type="text" class="form-control" id="inputTrackingCode" placeholder="Tracking Code">
      </div>
      <div class="form-group">
        <label for="inputTitle1">Titles</label>
        <input type="text" class="form-control" id="inputTitle1" placeholder="Title 1">
        <input type="text" class="form-control mt-2" id="inputTitle2" placeholder="Title 2">
        <input type="text" class="form-control my-2" id="inputTitle3" placeholder="Title 3">
        <a href="#"> + Add Title </a>
      </div>
      <div class="form-group">
        <label for="uploadImage">Upload Images</label>
        <a href="" data-toggle="modal" data-target="#modalCenter">
          <div class="image-section">
          </div>
        </a>
      </div>
    </form>
  </header>
  <nav class="navbar navbar-default navbar-shadow">
    <div class="container-fluid">
      <div class="navbar-minimize">
          <button class="btn btn-fill btn-icon"><i class="ti-more-alt"></i></button>
      </div>
      <div class="collapse navbar-collapse show">
        <div class="logo float-left">
          <a href="../../index.html"><p>ISA <b class="minimize"></b></p></a>
        </div>
        <ul class="nav navbar-right">
          <li class="button dropdown"><button data-toggle="dropdown" class="dropdown-toggle btn btn-main btn-blue">Add new <i class="fas fa-chevron-down"></i></button>
            <ul class="dropdown-menu">
              <li><a href="../campaigns/new_campaign.html"> Campaign</a></li>
              <li><a href="../ads/new_advertisement.html"> Advertisement</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle">
              <p>info@webuy.media</p>
            </a>
            <ul class="dropdown-menu dropdown-settings">
              <li><a href="../settings/account.html"><i class="fas fa-user-circle"></i> Account</a></li>
              <li><a href="../settings/preferences.html"><i class="fas fa-sliders-h"></i> Preferences</a></li>
              <li><a href="../settings/billing.html"><i class="fas fa-dollar-sign"></i> Billing</a></li>
              <li><a href="../settings/integrations.html"><i class="fas fa-plug"></i> Integrations</a></li>
              <div class="dropdown-divider"></div>
              <li><a href="sign-out.html"><i class="fas fa-sign-out-alt"></i> Sign Out</a></li>
            </ul>
          </li>
          <li class="settings">
            <a href="#"><i class="fas fa-cog"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <main class="adsmain">
    <div class="adscontent">
      <p>Preview</p>
      <div class="preview-section">
        <label id="lblAdGroup"><i class="text-muted">Ad group</i></label>
        <img src="../../img/phone-ad.png" alt="phone-ad">
        <label id="lblDestURL"><i class="text-muted">Destination URL</i></label>
      </div>
    </div>
    <div class="container centermodal ">
        <div class="modal center fade modal-center" id="modalCenter" tabindex="-1" role="dialog" aria-labelledby="modalCenterLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="m-0">Upload images</h1>
                <form class="form-inline my-2 my-lg-0">
                  <div class="form-group has-feedback has-feedback-left">
                    <input type="search" class="form-control image-search" placeholder="Search" />
                    <i class="form-control-feedback fa fa-search"></i>
                  </div>
                  <button type="button" class="btn btn-outline-dark" data-dismiss="modal"><i class="fas fa-times"></i></button></button>
                </form>
              </div>
              <div class="modal-body">
                <div class="sidebar">
                  <div class="sidebar-wrapper">
                    <ul class="nav nav-tabs flex-column mt-4">
                      <li class="active"><span class="active" data-target="#tab1" data-toggle="tab"> <i class="fas fa-image"></i> My Library</span></li>
                      <li><span data-target="#tab2" data-toggle="tab"> <i class="fas fa-camera"></i> Stock Photos - Free</span></li>
                      <li><span data-target="#tab3" data-toggle="tab"> <i class="fas fa-pencil-ruler"></i> Icons</span></li>
                      <li><span data-target="#tab4" data-toggle="tab"> <i class="fas fa-video"></i> GIFS</span></li>
                    </ul>
                  </div>
                </div>
                <div class="tab-content">
                  <div class="tab-pane active" id="tab1">
                    <div class="image-upload">
                      <img src="../../img/drop-image.png" alt="image-drop">
                      <p>Drag & Drop your images here</p>
                    </div>
                    <div class="dropdown-divider"></div>
                    <div class="my-library">
                      <p>My Library</p>
                      <div class="image-section"> <!-- Import images from database -->
                        <div class="img-section section1"><img src="../../img/wd-40.png" alt="wd-40-spray"><p> WD-40 Spray</p></div>
                        <div class="img-section section2"><img src="../../img/wd-40.png" alt="wd-40-spray"><p> WD-40 Spray_2</p></div>
                        <div class="img-section section3"><img src="../../img/wd-40.png" alt="wd-40-spray"><p> WD-40 Spray_3</p></div>
                        <div class="img-section section4"><img src="../../img/wd-40.png" alt="wd-40-spray"><p> Sitting-position</p></div>
                        <div class="img-section section5"><img src="../../img/wd-40.png" alt="wd-40-spray"><p> Sitting-position_2</p></div>
                        <div class="img-section section6"><img src="../../img/wd-40.png" alt="wd-40-spray"><p> Clean-Bathroom-Tiles</p></div>
                        <div class="img-section section7"><img src="../../img/wd-40.png" alt="wd-40-spray"><p> Clean-Bathroom-Tiles_2</p></div>
                        <div class="img-section section8"><img src="../../img/wd-40.png" alt="wd-40-spray"><p> Sleeping_problems</p></div>
                        <div class="img-section section9"><img src="../../img/wd-40.png" alt="wd-40-spray"><p> Sleeping_problems_2</p></div>
                        <div class="img-section section10"><img src="../../img/wd-40.png" alt="wd-40-spray"><p> Sleeping_problems_3</p></div>
                        <div class="img-section section11"><img src="../../img/wd-40.png" alt="wd-40-spray"><p> imgName</p></div>
                        <div class="img-section section12"><img src="../../img/wd-40.png" alt="wd-40-spray"><p> imgName</p></div>
                        <div class="img-section section13"><img src="../../img/wd-40.png" alt="wd-40-spray"><p> imgName</p></div>
                        <div class="img-section section14"><img src="../../img/wd-40.png" alt="wd-40-spray"><p> imgName</p></div>
                        <div class="img-section section15"><img src="../../img/wd-40.png" alt="wd-40-spray"><p> imgName</p></div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane" id="tab2">
                    <p>I'm in Section 2.</p>
                  </div>
                  <div class="tab-pane" id="tab3">
                    <p>I'm in Section 3.</p>
                  </div>
                  <div class="tab-pane" id="tab4">
                    <p>I'm in Section 4.</p>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary px-5" data-dismiss="modal"> Insert</button>
              </div>
            </div>
          </div>
        </div>
      </div>
  </main>
<script src="../../js/main.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script>
  $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();   
  });

  const imgSections = document.querySelectorAll('.img-section');
  const imgSearch = document.querySelector('.image-search');
  const adsForm = document.querySelector('.adsfield').querySelector('form');
  const inpAdGroup = document.querySelector('#inputAdGroup');
  const inpDestURL = document.querySelector('#inputDestinationURL');
  
  for (let i = 0; i < imgSections.length; i++) {
    const element = imgSections[i];
    element.addEventListener('click', function(e){
      if (this.style.border == '2px solid green') {
        this.style.border = 'none';
      } else {
        this.style.border = '2px solid green';
      }
    });
  }

  function searchFunction() {
    let filter, imgs, p;

    filter = imgSearch.value.toUpperCase();
    imgs = document.querySelectorAll('.img-section');
    for (let i = 0; i < imgs.length; i++) {
      p = imgs[i].querySelectorAll('p')[0];
      if (p) {
        if (p.innerHTML.toUpperCase().indexOf(filter) > -1) {
          imgs[i].style.display = '';
        } else {
          imgs[i].style.display = 'none';
        }
      }       
    }
  }

  function livePreview() {
    let lblAdGroup = document.querySelector('#lblAdGroup');
    let lblDestURL = document.querySelector('#lblDestURL');


    if (this.id == 'inputAdGroup') {
      lblAdGroup.innerHTML = this.value;
      if (lblAdGroup.innerHTML == '') {
        lblAdGroup.innerHTML = '<i class="text-muted">Ad group</i>';
      }
    }
    if (this.id == 'inputDestinationURL') {
      lblDestURL.innerHTML = this.value;
      if (lblDestURL.innerHTML == '') {
        lblDestURL.innerHTML = '<i class="text-muted">Destination URL</i>';
      }
    }

  }

  imgSearch.addEventListener('keyup', searchFunction);
  inpAdGroup.addEventListener('keyup', livePreview);
  inpDestURL.addEventListener('keyup', livePreview);
  

</script>
</body>