<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="../../css/style.css">
  <title>ISA - New Campaign Group | Basic</title>
</head>
<body>
  <header class="sidebar">
    <div class="sidebar-wrapper">
      <ul class="nav flex-column mt-5">
        <li class="active">
          <a href="../../index.html" class="active">
            <p><i class="fas fa-tachometer-alt"></i> Dashboards</p>
          </a>
        </li>
        <li>
          <a data-toggle="collapse" href="#collapseCampaigns" aria-expanded="false">
            <p><i class="far fa-paper-plane"></i> Campaigns <i class="fas fa-chevron-down"></i></p>
          </a>
          <div class="collapse show" id="collapseCampaigns">
            <div class="dropdown-divider"></div>
            <ul class="nav">
              <li class="dropright">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Recently opened</a>
                <ul class="dropdown-menu">
                  <li><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">4</a></li>
                  <li><a href="#">5</a></li>
                </ul>
              </li>
              <li class="active">
                <a href="overview.html">Overview</a>
              </li>
              <li>
                <a href="ad_performance.html">Ad Performance</a>
              </li>
              <li>
                <a href="publisher_performance.html">Publisher Performance</a>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <a href="../ad_groups.html">
            <p><i class="fas fa-rocket"></i> Ad Groups</p>
          </a>
        </li>
        <li>
          <a href="../rules.html">
            <p><i class="far fa-file-alt"></i> Rules</p>
          </a>
        </li>
        <li>
          <a href="../targeting_lists.html">
            <p><i class="fas fa-bullseye"></i> Targeting Lists</p>
          </a>
        </li>
      </ul>
    </div>
  </header>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-minimize">
          <button class="btn btn-fill btn-icon"><i class="ti-more-alt"></i></button>
      </div>
      <div class="collapse navbar-collapse show">
        <div class="logo float-left">
          <p>ISA <b class="minimize"></b></p>
        </div>
        <ul class="nav navbar-right">
          <li class="button dropdown"><button data-toggle="dropdown" class="dropdown-toggle btn btn-main btn-blue">Add new <i class="fas fa-chevron-down"></i></button>
            <ul class="dropdown-menu">
              <li><a href="new_campaign.html"> Campaign</a></li>
              <li><a href="../ads/new_advertisement.html"> Advertisement</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle">
              <p>info@webuy.media</p>
            </a>
            <ul class="dropdown-menu">
              <li><a href="../settings/account.html"><i class="fas fa-user-circle"></i> Account</a></li>
              <li><a href="../settings/preferences.html"><i class="fas fa-sliders-h"></i> Preferences</a></li>
              <li><a href="../settings/billing.html"><i class="fas fa-dollar-sign"></i> Billing</a></li>
              <li><a href="../settings/integrations.html"><i class="fas fa-plug"></i> Integrations</a></li>
              <div class="dropdown-divider"></div>
              <li><a href="sign-out.html"><i class="fas fa-sign-out-alt"></i> Sign Out</a></li>
            </ul>
          </li>
          <li class="settings">
            <a href="#"><i class="fas fa-cog"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <main>
    <div class="ncg_basic-account container-fluid">
      <div class="header row">
        <div>
          <h1 class="mb-0">New Campaign Group</h1>
          <p class="font-weight-normal">Basic</p>
        </div>
        <div class="row basic-steps">
          <div class="step-account">
            <div class="account-icon">
              <img src="../../img/profile-icon-white.svg" alt="profile-icon"> 
            </div>
            <p>Account</p>
          </div>
          <div class="step-spacing">
            <div class="hr"></div>
          </div>
          <div class="step-marketing">
            <div class="marketing-icon">
              <img src="../../img/marketing-icon.svg" alt="marketing-icon"> 
            </div>
            <p>Marketing</p>
          </div>
        </div>
      </div>
      <form action="" class="mt-3">
        <fieldset id="formAccount">
          <legend class="font-weight-bolder">Account</legend>
          <div class="campaign form-group">
            <div class="section">
              <h2>Campaign</h2>
            </div>
            <div class="form-subgroup mb-3">
              <label for="campaign">Campaign</label>
              <div class="ml-0">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="campaigns" id="campaignTaboola" value="taboola">
                  <label class="form-check-label font-weight-normal" for="campaignTaboola">Taboola</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="campaigns" id="campaignGoogle" value="google">
                  <label class="form-check-label font-weight-normal" for="campaignGoogle">Google</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="campaigns" id="campaignYahoo" value="yahoo">
                  <label class="form-check-label font-weight-normal" for="campaignYahoo">Yahoo</label>
                </div>
              </div>
              <div class="form-group mt-4">
                <label for="campaignAccount">Account</label>
                <select class="form-control" id="campaignAccount">
                  <option>Webuy Media - Daily Chasers - SC</option>
                  <option>Webuy Media - Family Chasers - SC</option>
                  <option>WeBuy Media - For Happy Home - SC</option>
                  <option>WeBuy Media -  Facts Chasers – SC</option>
                  <option>WeBuy Media - Tip Chasers - SC</option>
                  <option>Webuy Media - WBM - SC</option>
                  <option>Webuy Media - Japan - SC</option>
                </select>
              </div>
            </div>
          </div>
          <div class="info form-group">
            <div>
              <div class="section">
                <h2>Info</h2>
              </div>
              <div class="form-subgroup">
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="inputCampaignName">Campaign Name</label>
                    <input type="text" class="form-control" id="inputCampaignName" placeholder="WD-40">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputBranding">Branding</label>
                    <input type="text" class="form-control" id="inputBranding">
                    <small id="brandingHelp" class="form-text text-muted">(optional) - <i>Apears below headline</i></small>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="inputTrackingCode">Tracking Code</label>
                    <input type="text" class="form-control" id="inputTrackingCode" placeholder="utm_source=taboola&utm_campaign={{CAMPAIGN}}" disabled>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputURL">URL</label>
                    <input type="text" class="form-control" id="inputURL">
                    <small id="URLHelp" class="form-text text-muted">(optional)</i></small>
                  </div>
                </div>
                <button class="btn text-white btn-bluebg mt-5">Next</button>
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset id="formMarketing">
          <legend class="font-weight-bolder mb-4">Marketing</legend>
          <div class="marketing form-group">
            <div>
              <div class="section">
                <h2>Marketing</h2>
              </div>
              <div class="form-subgroup">
                  <div class="form-group">
                    <label for="marketingObjective">Objective</label>
                    <select class="form-control" id="marketingObjective">
                      <option>Webuy Media - Daily Chasers - SC</option>
                      <option>Webuy Media - Family Chasers - SC</option>
                      <option>WeBuy Media - For Happy Home - SC</option>
                      <option>WeBuy Media -  Facts Chasers – SC</option>
                      <option>WeBuy Media - Tip Chasers - SC</option>
                      <option>Webuy Media - WBM - SC</option>
                      <option>Webuy Media - Japan - SC</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="inputGeoTargeting">Geo-targeting</label>
                    <input type="text" class="form-control" id="inputGeoTargeting">
                  </div>
                <div class="mt-3">
                  <label for="campaign">Creative Traffic Allocation</label>
                  <div class="ml-0">
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="CTAs" id="ctaOptimized" value="optimized" checked>
                      <label class="form-check-label font-weight-normal" for="ctaOptimized">Optimized</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="CTAs" id="ctaEven" value="even">
                      <label class="form-check-label font-weight-normal" for="ctaEven">Even</label>
                    </div>
                  </div>
                </div>
                <button class="btn text-white btn-bluebg mt-10">Next</button>
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset id="formOverview">
          <legend class="font-weight-bolder mb-4">Overview</legend>
          <div class="overview form-group">
            <div>
              <div class="section-overview">
                <h2><img src="../../img/profile-icon-black.svg" alt="profile-icon"> Account</h2>
              </div>
              <div class="content-overview">
                <div class="row">
                  <h3 class="m-0">Campaign</h3>
                  <p class="m-0">Taboola</p>
                </div>
                <div class="row">
                  <h3 class="m-0">Account</h3>
                  <p class="m-0">info@webuy.media</p>
                </div>
                <div class="row">
                  <h3 class="m-0">Campaign Name</h3>
                  <p class="m-0">Webuy media - Daily Chasers - SC</p>
                </div>
                <div class="row">
                  <h3 class="m-0">Tracking Code</h3>
                  <p class="m-0">utm_source=taboola&utm_campaign=CAMPAI…</p>
                </div>
              </div>
            </div>
            <div>
              <div class="section-overview mt-4">
                <h2><img src="../../img/marketing-icon-dark.svg" alt="marketing-icon"> Marketing</h2>
              </div>
              <div class="content-overview">
                <div class="row">
                  <h3 class="m-0">Objective</h3>
                  <p class="m-0">Web Engagement | Optimized</p>
                </div>
                <div class="row">
                  <h3 class="m-0">Geo-targeting</h3>
                  <p class="m-0">Germany (DE) | Berlin</p>
                </div>
                <div class="row">
                  <h3 class="m-0">Block Publishers</h3>
                  <p class="m-0">None</p>
                </div>
                <div class="row">
                  <h3 class="m-0">Targeting List</h3>
                  <p class="m-0">None</p>
                </div>
              </div>
              <button class="btn text-white btn-bluebg float-right mt-5">Next</button>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </main>
<script src="../../js/campaignGroupBasic.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>