@*
    Contains the partial view for our confirmation popup.
*@

<div id="confirmationPopup" class="alert alert-success alert-dismissible fade show success-message">
    <strong id="textSuccess">Success!</strong>
    <div id="textMessage">Advertisement has successfully been submitted.</div>
    <button type="button" class="close" data-dismiss="alert">&times;</button>
</div>