@*
    Partial view containing the publisher details for a single campaign.
*@

<!-- Publisher blocking and including tab -->
<fieldset id="formAccount">
    <div class="info form-group">
        <div>
            <div class="form-subgroup">
                <h1 class="mb-4">Publishers</h1>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputBlockPublishers">Block Publishers</label>
                        <input type="text" class="form-control" id="inputBlockPublishers" placeholder="None">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputTargetingList">Targeting Lists</label>
                        <input type="text" class="form-control" id="inputTargetingList" placeholder="Choose">
                    </div>
                </div>
                <button class="disabled btn text-white btn-main btn-blue mt-5 float-right">Save</button>
            </div>
        </div>
    </div>
</fieldset>
